@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap");

* {
  box-sizing: border-box;
}
:root {
  --dark-navy: #020c1b;
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --green: #64ffda;
  --green-tint: rgba(100, 255, 218, 0.3);
  --pink: #f57dff;
  --blue: #57cbff;
  --font-sans: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  --font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  --fz-xxs: 12px;
  --fz-xs: 13px;
  --fz-sm: 14px;
  --fz-md: 16px;
  --fz-lg: 18px;
  --fz-xl: 20px;
  --fz-xxl: 22px;
  --fz-heading: 32px;
  --border-radius: 4px;
  --nav-height: 100px;
  --nav-scroll-height: 70px;
  --tab-height: 42px;
  --tab-width: 120px;
  --easing: cubic-bezier(0.645, 0.045, 0.355, 1);
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  font-family: "Nanum Gothic Coding", sans-serif;
  width: 100vw;
  /* height: 100vh; */
  /* height: 100vh; */
  /* overflow: hidden; */
  /* height: 515vh */
  /* max-height: 515vh */
  overflow-y: hidden;
  margin: 0;
}
/* CUSTOM SCROLLBAR */
::-webkit-scrollbar {
  width: 9px;
  z-index: 10;
}
::-webkit-scrollbar-track {
  background: #112240;
}
::-webkit-scrollbar-thumb {
  background: #233554;
  border-radius: 20px;
}
/* MAIN CONTAINER */
.main-container {
  width: 100vw;
  position: relative;
  top: 0%;
  overflow-x: hidden;
  transition: transform 0.6s ease-in-out;
  background-color: var(--navy);
}
.main-container.active:not(#menu){
  filter: blur(3px) brightness(0.7);
}

/* LANDING PAGE */
.landing-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
/*navigation bar*/
.header {
  border: none;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0%;
  left: 0%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;
  font-size: 20px;
  transition: top 0.6s;
}
.logo {
  font-weight: bold;
  color: #ededed;
  margin: 0px 0px 0px 10px;
}
.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
.nav-list li {
  margin: 0px 15px;
}
.nav-list li a {
  text-decoration: none;
  color: #ededed;
  padding: 0%;
}
.hover {
  position: relative;
}
.hover::after {
  content: "";
  position: absolute;
  bottom: -20%;
  left: 0%;
  height: 2px;
  width: 100%;
  transform: scaleX(0);
  background-color: #0087ca;
  transform-origin: bottom center;
  transition: transform 0.25s ease-out;
}
.hover:hover::after {
  transform: scaleX(1);
  transform-origin: bottom center;
}
.nav-list li:last-child {
  margin-right: 20px;
}
.nav-list li a:hover {
  color: rgb(29, 202, 194);
}

@keyframes fadeIN {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.message-container {
  position: absolute;
  top: 20%;
  left: 20%;
  display: flex;
  flex-direction: column;
}
.resume-button{
  cursor: pointer;
  width: 130px;
  padding: 0.75rem 1rem;
  border-radius: var(--border-radius);
  text-align: center;
  background-color: transparent;
  border: 1px solid var(--green);
  transform: translateX(-500%);
}
.resume-button.active {
  transform: translateX(0%);
  transition: all 0.6s ease;
}
.resume{
  color: var(--green);
  font-family: inherit;
  font-size: 18px;
  text-decoration: none;
  
}
.resume:hover{
  text-decoration: none;
  color: var(--green);
}
.hi {
  opacity: 1;
  font-size: 22px;
  color: var(--green);
}
.name {
  opacity: 1;
  font-size: 80px;
  color: var(--lightest-slate);
  margin: 0%;
  font-weight: bold;
}
.tag-line {
  opacity: 1;
  font-size: 80px;
  color: var(--slate);
  margin-top: 15px;
  font-weight: bold;
}
.social-container {
  position: fixed;
  left: 2%;
  bottom: 10%;
  z-index: 100;
}
.social-list {
  list-style-type: none;
  font-size: 24px;
  padding: 0%;
  position: relative;
}
.social-list::after{
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  height: 100px;
  width: 2px;
  background-color: rgba(255, 255, 255, 0.7);
}
.social {
  cursor: pointer;
  margin: 20px 0px;
}
/* rotating icons */
.social a i {
  transition: transform 0.3s ease-in;
  color: rgba(255, 255, 255, 0.7);
}
.social:hover a i {
  transform: rotate(360deg);
  color: var(--green);

}
.nav-btn {
  display: none;
}
/* PHONE-NAV */
.phone-nav-icons{
  display: none;
  z-index: 1000 ;
  visibility: visible;
}
.slide{
  font-size: 28px;
  color: #fff;
  margin-right: 10px;
  z-index: 2;
}
.toggle-nav i {
  display: none;
}
.toggle-nav i.active{
  display: block;
}
.slide a {
  color: var(--green);
  text-decoration: none;
  cursor: pointer;
}
#menu{
  position: fixed;
  right: 0%;
  top: 0%;
  bottom: 0%;
  width: 0%;
  z-index: 1;
  height: 100vh;
  background-color: var(--light-navy);
  overflow-x: hidden;
  transition: 0.7s;
  display: flex;
  align-items: center;
  z-index: 9;
  font-weight: 800;
}
#menu.active{
  width: 250px;
}
#menu.active i {
  display: block;
  transform: translateX(0%);
  transition: transform 0.3s ease-out;
}
#menu i {
  color: var(--green);
  display: block;
  position: absolute;
  top: 5%;
  right: 5%;
  transform: translateX(170%);
  font-size: 32px;
  cursor: pointer;
  transition: transform 0.3s ease-out;
}
#menu i:hover{
  color: var(--green);
}
.phone-nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
  width: 100%;
  text-align: center;
  font-size: 25px;
  text-decoration: none;
  color: #ccc;
}
.phone-nav-links a {
  color: var(--slate);
  text-decoration: none;
  margin: 15px 0px;
  font-size: var(--fz-xl);
}
.phone-nav-links a:hover{
  color: var(--green);
}
.mail-line {
  position: fixed;
  height: 100px;
  width: 2px;
  right: 2%;
  bottom: 0%;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
}
.mail-text {
  z-index: 100;
  margin-top: -240px;
  color: #fff;
  transform: rotate(-270deg);
  font-size: 18px;
  letter-spacing: 2px;
}
.mail-text:hover{
  color: var(--green);
}

/* ABOUT ME - PAGE */
.about {
  width: 100vw;
  padding: 0px 250px;
  position: relative;
}
.about h2 {
  text-align: left;
  margin: 0%;
  color: #fff;
  display: flex;
  align-items: center;
}
.about-line {
  margin-left: 15px;
  margin-top: 5px;
  width: 350px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
}
.page {
  width: 100%;
  height: 100%;
  transition: transform 0.4s ease, opacity 0.4s ease;
  color: #fff;
  display: flex;
}
/* adding animations for text */
.part-one {
  font-size: 60px;
  margin-right: 18px;
  color: var(--green);
}
.animation-text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 20px;
  font-family: var(--font-sans);
}
.picture-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.picture {
  position: relative;
  z-index: 100;
  cursor: pointer;
}
.picture img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.picture::after {
  content: "";
  position: absolute;
  left: -10px;
  top: -10px;
  background-color: inherit;
  border: 1px solid var(--green);
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 5px;
}
.picture:hover::after {
  left: -7px;
  top: -5px;
}
.picture::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(29, 202, 194, 0.3);
  opacity: 1;
  transition: opacity 0.1s ease-in;
  z-index: 10;
}
.picture:hover::before {
  transition: opacity 0.3s ease-out;
  opacity: 0;
}
.info {
  color: #fff;
}
.info .text {
  color: var(--slate);
  text-align: center;
  font-size: 18px;
  font-family: var(--font-sans);
}

/* MY SERVICES - PAGE */
.service-work {
  width: 100vw;
  height: 110vh;
  color: #fff;
  padding: 0px 50px;
}
.service-work > h2 {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 50px;
  margin: 100px 0px;
}
.service-line {
  width: 350px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  margin-right: 15px;
}
.services {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--slate);
}
.service {
  text-align: center;
  margin: 0px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.service i {
  color: var(--green);
  font-size: 50px;
}
.service h3 {
  text-align: center;
}
.skills-container{
  display: flex;
  justify-content: center;
}
.skl{
  position: relative;
  width: 200px;
  height: 200px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0px 15px;
}
.skl li {
  position: absolute;
  left: 0%;
  list-style: none;
  list-style-type: none;
  transform-origin: 100px;
  color: #764abc;
  font-size: 30px;
  transition: 0.5s;
  transition-delay: calc(0.1s * var(--i));
  transform: rotate(0deg) translateX(95px);
}
.skl.active li {
  transform: rotate(calc(360deg / 6 * var(--i)));
}
.skl li img {
  object-fit: contain;
  width: 35px;
  height: 35px;
  color: #764abc;
}
.skl.active .toggle{
  transform: rotate(360deg);
}
.toggle{
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  font-size: 2em;
  transition: transform 1.25s;
  background-color: var(--light-navy);
  overflow: hidden;
}
.toggle i {
  color: var(--green);
}
.skills {
  margin-top: 130px;
  width: 100%;
  text-align: center;
}
.btn-shine {
  background-color: transparent;
  border: none;
  font-size: 30px;
  font-family: inherit;
  padding: 12px 48px;
  color: #ffffff;
  background: linear-gradient(to right, #4d4d4d 0, white 10%, #4d4d4d 20%);
  background-position: 0;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 4s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  font-weight: 600;
  white-space: nowrap;
}
@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 300px;
  }
  100% {
    background-position: 700px;
  }
}

/* WORK - PAGE */
.work {
  height: 150vh;
  width: 100vw;
  color: #fff;
  text-align: center;
  padding: 0px 250px;
  display: flex;
  flex-direction: column;
}
.work h2 {
  width: 100%;
  text-align: left;
  margin: 0%;
  color: #fff;
  display: flex;
  align-items: center;
}
.work-line {
  top: 1%;
  width: 350px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  margin-left: 15px;
}
.project {
  width: 100%;
  height: 20%;
  margin-top: 60px;
  display: flex;
}
.img-container {
  flex: 1;
  width: 60%;
  height: 100%;
  position: relative;
  cursor: pointer;
  /* nije bilo position relative i nije bilo striktnog width-a i height-a */
}
.img-container img {
  width: 100%;
  height: 100%;
}
.img-container::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: var(--green-tint);
  opacity: 1;
  transition: opacity 0.1s ease-in;
}
.img-container:hover::before {
  transition: opacity 0.3s ease-out;
  opacity: 0;
}
.project-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  font-size: 1rem;
  color: var(--light-slate);
}

.project-name,
.project-name2{
  font-size: 18px;
  color: var(--green);
}
.project-name {
  margin: 10px 0px;
  text-align: right;
  
}
.project-name2 {
  margin: 10px 0px;
  text-align: left;
  z-index: 100;
}
.project-description,
.project-description2,
.project-description3 {
  padding: 10px;
  border-radius: 10px;
  background-color: var(--light-navy);
  z-index: 10;
  line-height: 20px;
  font-size: 15px;
}
.project-description,
.project-description3 {
  margin-left: -45px;
}
.project-description2 {
  margin-right: -45px;
}
.techs-container{
  z-index: 10 ;
}
.techs,
.techs2 {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  list-style-type: none;
  padding: 0%;
}
.techs {
 float: right;
}
.techs2 {
float: left;
z-index: 100;
}
.tech {
  margin: 5px 10px;
}
.icons-phone-view{
  z-index: 10;
  display: none;
}
.icons-phone-view i {
  font-size: 26px;
  margin-left: 10px;
  cursor: pointer;
}
.icons-phone-view i:nth-of-type(2){
  margin-left: 25px;
}

/* CONTACT - PAGE */
.contact {
  width: 100vw;
  color: #fff;
  padding: 0px 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.contact h2 {
  display: flex;
  align-items: center;
  margin: 30px 0px;
}
.contact-line1,
.contact-line2 {
  width: 250px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0px 10px;
}
.get {
  text-align: center;
  margin: 10px 0px;
}
.email-link {
  color: var(--green);
  background-color: transparent;
  border: 1px solid var(--green);
  border-radius: var(--border-radius);
  padding: 1.25rem 1.75rem;
  font-size: var(--fz-sm);
  font-family: var(--font-mono);
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  transition: var(--transition);
  margin: 50px 0px;
}
.email-link:hover{
  color: var(--green);
  background-color: var(--green-tint);
  text-decoration: none;
}
.author {
  color: rgba(255, 255, 255, 0.5);
  margin: 50px 0px;
}

/* RESPONSIVE DESIGN */
@media (min-width: 1600px) {
  .work {
    padding: 0px 350px;
  }
}
@media (max-width:1350px) {
  .about{
    padding: 0px 100px;
  }
  .work {
    padding: 0px 80px;
  }
  .project-info{
  font-size: 12px;
}
}
@media (max-width:1200px) {
  .hi{
    font-size: 18px;
  }
  .name,.tag-line{
    font-size: 60px;
  }
  .resume{
    font-size: 16px;
  }
}
@media (max-width:1000px) {
  .name,.tag-line{
    font-size: 50px;
  }
  .project-description, 
  .project-description2,
  .project-description3{
    font-size: 12px;
  }
}
@media (max-width: 950px) {
  .about {
    padding: 0px 50px;
  }
  .picture img {
    width: 150px;
    height: 250px;
  }
  .picture::after {
    content: "";
    position: absolute;
    left: -10px;
    top: -10px;
    background-color: #222f3e;
    border: 1px solid aquamarine;
    width: 150px;
    height: 250px;
    z-index: -1;
  }

}
@media (max-width: 820px) {
  /* PROJECTS */
  .work{
    padding: 0px 50px;
    align-items: center;
  }
  .project {
    position: relative;
    justify-content: center;
    height: 30%;
    width: 80%;
    border-radius: 20px;
  }
  .img-container img{
    border-radius: 20px;
  }
  .img-container {
    position: absolute;
    width: 100%;
    border-radius: 20px;
  }
  .img-container:hover::before{
    opacity: 1;
  }
  .img-container::before{
    box-shadow: 0 10px 30px -15px var(--navy-shadow);
    background-color: rgba(6, 21, 44, 0.9);
    border-radius: 20px;
  }
  .project-info{
    align-items: flex-start;
    justify-content: space-around;
    margin-left: 5px;
    color: var(--lightest-slate);
    font-weight: 800;
    border-radius: 20px;
  }
  .project-name,
  .project-name2{
    font-weight: 700;
    margin-left: 10px;
    z-index: 10;
  }
  .project-description, 
  .project-description2,
  .project-description3{
    margin: 0px;
    width: 100%;
    background-color: transparent;
    font-weight: bold;
    text-align: left;
  }
  /* PHONE NAV */
  .icons-phone-view{
    display: flex;
  }
  /* SERIVCES */
 .skl {
  margin: 0px 5px;
 }
 .skills-container{
  justify-content: space-around;
 }
}
@media (max-width: 760px) {
  /* LANDING PAGE */
  .message-container{
    left: 5%;
    top: 40%;
    transform: translateY(-50%);
  }
  .resume-button{
    padding: 0.5rem 1rem;
  }
  .name,.tag-line{
    font-size: 45px !important;
  }
  .social-container,.mail-line{
    display: none;
  }
  .name,.tag-line{
    font-size: 50px;
  }
  .phone-nav-icons{
    display: flex;
    z-index: 1000;
  }
  .header{
    z-index: 1000;
    font-size: 16px;
    padding: 5px 0px;
  }
  .nav-list {
    display: none;
  }
  .logo {
    margin: 15px;
    font-size: 25px;
  }
  .nav-list li {
    margin-right: 10px;
  }
  /* ABOUT */
  .about{
    padding: 0px 30px;
  }
  .picture-container{
    margin-top: 40px;
  }
  .animation-text{
    margin-left: 5px;
  }
  /* SERVICES */
  .service-work{
    padding: 0px 50px;
  }
  .service-line,.about-line,.work-line{
    width: 35%;
  }
  .service{
    margin: 0px 5px;
  }
  .service i{
    font-size: 25px;
  }
  .service h3{
    font-size: 20px;
  }
  /* CONTACT PAGE */
  .contact {
    padding: 0px 50px !important;
  }
  .contact-line1,.contact-line2{
    width: 150px !important;
  }
  .email-link{
  margin: 25px 0px;
  }
  .author{
  margin: 35px 0px;
  }
}
@media (max-width: 600px) {
  .project {
    width: 100%;
  }
  .img-container {
    position: absolute;
    width: 100%;
  }
  .img-container::before{
    box-shadow: 0 10px 30px -15px var(--navy-shadow);
  }
  .project-info{
    align-items: flex-start;
    justify-content: center;
    margin-left: 5px;
  }
  .project-name,
  .project-name2{
    font-weight: 700;
    margin-left: 10px;
  }
  .project-description, 
  .project-description2,
  .project-description3{
    margin: 0px;
    width: 100%;
    background-color: transparent;
    font-weight: bold;
    text-align: left;
  }
  /* ABOUT PAGE */
  .about {
    padding: 0px 10px;
  }
}
@media (max-width: 576px) {
  /* LANDING PAGE */
  .name,.tag-line{
    font-size: 30px !important;
  }
  .resume-button{
    padding: 0.3rem 1rem;
  }
  .msg {
    font-size: 22px;
  }
  .social-list {
    font-size: 22px;
  }
  .nav-btn {
    display: inline-block;
    position: absolute;
    top: 2%;
    right: 10%;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
  }
  .social-list {
    display: none;
  }
  /* About */
  .page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .part-one {
    font-size: 35px;
    margin-right: 5px;
    margin: 30px 5px 30px 0px;
  }
  .part-two {
    font-size: 16px;
  }
  .picture img {
    width: 150px;
    height: 200px;
    object-fit: cover;
  }
  .picture::after {
    width: 150px;
    height: 200px;
  }
  .info {
    margin-left: 10px;
  }
  .info .text {
    font-size: 14px;
    margin: 0px 10px;
  }
   /* SERVICES */
   .service-work {
    height: 165vh;
  }
  .service-work > h2 {
   text-align: center !important;
   margin-bottom: 50px !important;
 }
  .services {
    flex-direction: column;
  }
  .service{
    margin: 10px 0px;
  }
  #icon {
    font-size: 40px;
  }
  .btn-shine{
    padding: 0px;
  
    font-size: 20px;
  }
  .skills {
    margin-top: 100px !important;
  }
  .skill {
    font-size: 35px !important;
    margin: 0px 20px;
  }
   /* CONTACT */
 .email-link{
  margin: 15px 0px;
 }
 .author{
  margin: 25px 0px;
 }
}
@media (max-width: 480px) {
  .work{
  height: 175vh;
  }
  .message-container{
    top: 50%;
  }
  /* SERVICES */
  .skills-container{
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .frontend-skills{
    height: 100px;
  }
  .btn-shine{
    padding-bottom: 25px;
  }
  /* WORK */
  .work{
    margin-top: 80px;
    padding: 0px 15px;
  }
  /* CONTACT */
  .contact-line1,.contact-line2{
    width: 80px !important;
  }
}
@media (max-width: 426px) {
  .name,.tag-line{
    font-size: 25px !important;
  }
  h2 {
    font-size: 20px;
  }
  .skill {
    font-size: 25px !important;
    margin: 0px 20px;
  }
  .animation-text{
    margin-left: 0px;
  }
  .part-one{
    font-size: 24px;
  }
  .part-two{
    font-size: 14px;
  }
}